body{
	position:absolute;
	margin:0px;
	width:100%;
	height:100%;
}

/** GENERAL STYLE **/
.clear{
	clear:both;
}

/** LOGIN/REGISTER PAGE **/
.box{
	position:relative;
	padding:10px;
}
.login-box, .register-box{
	position:relative;
	float:left;
	width:50%;
	height:100%;
}
.login-box #login-form, .register-box #registration-form{
	position:relative;
	width:70%;
	margin:auto;
}
